* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 5%;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
  overflow: hidden;
}

.slot {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 17px;
}

.yourTurn {
  cursor: pointer;
}

.red {
  color: red;
}

.black {
  color: black;
}

.falling-left {
  animation-duration: 0.75s;
  animation-name: fallingLeft;
  animation-iteration-count: 1;
  position: relative;
}

.falling-right {
  animation-duration: 0.75s;
  animation-name: fallingRight;
  animation-iteration-count: 1;
  position: relative;
}

@keyframes fallingLeft {
  from {
    right: 20px;
  }
  to {
    right: 0px;
  }
}

@keyframes fallingRight {
  from {
    left: 20px;
  }
  to {
    left: 0px;
  }
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
